.playlist-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(224px, 1fr));
    gap: 24px;
}
.split-content {
    display: flex;
    width: 100%;
    min-height: 100%;
}
.split-content-child-1 {
    width: 25%;
    color: white;
    border-right: 1px solid white;
}
.split-content-child-2 {
    width: 100%;
    margin-left: 24px;
}
.section-title{
    color: #f4f4f4;
}
.sub-section-title{
    color: #e7e1e1;
}