.playlist-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
    overflow-y: scroll;
    padding-right: 10px;
    margin-top: 25px;
    height:400px;
}
.split-content {
    display: flex;
    width: 100%;
    min-height: 100%;
    margin-top: 20px;
}
.split-content-child-1 {
    width: 25%;
    height: 550px;
    color: white;
    border-right: 1px solid #e8e8e8;
    padding-right: 5px;
}
.split-content-child-2 {
    width: 100%;
    /* margin-left: 24px; */
    padding-left: 24px;
    
}
.section-title{
    color: #f4f4f4;
    margin-bottom: 30px;
    font-family: branch;
}
.sub-section-title{
    color: #e7e1e1;
}
@media screen and (max-width: 768px) {
    .sub-section-title{
        font-size: 20px;
    }
    .split-content {
        flex-direction: column;
    }
    .split-content-child-1 {
        width: 100%;
        padding-right: unset;
        border: none;
    }
    .split-content-child-2 {
        padding-left: unset;
    }
}