.App {
    text-align: center;
}

.app{
    min-height: 100vh;
}
.page-container {
    width: 80%;
    margin: auto;
    padding: 30px 0;
}
.section-title {
    margin: 0;
    color: #2b2b2b;
}
.sub-section-title {
    color: #2b2b2b;
}
@media screen and (max-width: 768px) {
    .section-title {
        margin: 24px 0 16px 0;
        font-size: 28px;
    }
}