.search-input {
    width: 40%;
    font-size: 15px;
    border: none;
    border-radius: 4px 0 0 4px;
    outline: none;
    margin-top: 16px;
    padding: 8px;
    }
.search-button {
    font-size: 15px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    padding: 8px;
    font-weight: 300;
    background-color: rgb(214, 152, 205);
    border-bottom: 3px solid rgb(201, 112, 201);
}
.search-button:hover {
    background-color: rgb(238, 189, 125);
    border-bottom: none;
}
.playlist-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(224px, 1fr));
    gap: 24px;
    
}
h1{
    padding-bottom: 40px;
}
.split-content {
    display: flex;
    width: 100%;
    min-height: 100%;
}
.split-content-child-1 {
    width: 25%;
    color: white;
    border-right: 1px solid white;
}
.split-content-child-2 {
    width: 100%;
    margin-left: 24px;
}